
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.margin-top {
  margin-top: 90px;
}

.textfield-margin {
  margin-top: 50px;
}

.sidepadding {
  padding: 0 20px;
}
