
.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.margin-top {
  margin-top: 60px;
}

.margin-top-sm {
  margin-top: 30px;
}

.textfield-margin {
  margin-top: 20px;
}

.margin-top-thin {
  margin-top: 10px;
}

.cardcontent-margin {
  margin: 0, 40px;
}

.button-wide {
  width: 166px;
}

.title-margin {
  margin-top: 20px;
  margin-left: 50px;
}

.title-margin-lg {
  margin-top: 40px;
  margin-left: 80px;
}

.card-width {
  width: 250px
}


